language: node_js
cache:
  yarn: true
  directories:
  - node_modules
node_js:
- "lts/*"
notifications:
  email: false
install:
- yarn
script:
- yarn test
before_deploy: cd docs && yarn && yarn build && cd ../
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: docs/public
  keep_history: true
  on:
    branch: master
branches:
  only:
  - master
